#mo_result{
    width: 4180px;
    height: 50%;
}
#mo_result tr{
    height: 53px;
}

/*   go_result样式  */
#go_result{
    width: 3600px;
    height: 50%;
}
#go_result tr{
    height: 53px;
}
/*   fo_result样式  */





/*  自定义翻页
.paginate_button:hover{
    background-color: #007bff !important;
}
*/


/*  自定义search框   */
.dataTables_filter input{
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
    -webkit-box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
}
.dataTables_filter input {
    --input-focus: #78a9a0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #9f9e9e;
    width: 160px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight:400;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
}

.dataTables_filter input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
}

.dataTables_filter input:focus {
    border: 2px solid var(--input-focus);
}

/*  自定义button样式  */
button {
    width: 150px;
    padding: 10px 40px;
    font-size: 18px;
    background-color: #37686b;
    color: #fff;
    text-shadow: 0 2px 0 rgb(0 0 0 / 25%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 0;
    z-index: 1;
    user-select: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: unset;
    padding: .8rem 1.5rem;
    text-decoration: none;
    font-weight: 900;
    transition: all 0.7s cubic-bezier(0,.8,.26,.99);
}

button:before {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    transition: .7s cubic-bezier(0,.8,.26,.99);
    z-index: -1;
    background-color: #37686b!important;
    box-shadow: 0 -4px #708682 inset, 0 4px #65bdaf inset, -4px 0 #7ab5aa inset, 4px 0 #708682 inset;
}

button:after {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
    transition: .7s cubic-bezier(0,.8,.26,.99);
}

button:hover:before {
    box-shadow: 0 -4px rgb(0 0 0 / 50%) inset, 0 4px rgb(255 255 255 / 20%) inset, -4px 0 rgb(255 255 255 / 20%) inset, 4px 0 rgb(0 0 0 / 50%) inset;
}

button:hover:after {
    box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
}

button:active {
    transform: translateY(4px);
}

button:active:after {
    box-shadow: 0 0px 0 0 rgb(0 0 0 / 15%);
}